#background {
  background: url(bloombird.png);
  width: 1372px;
  height: 920px;
  zoom: 0.45;
  margin: 0 auto;
  margin-top: -100px;
}
body {
  background: #4EC0CA;
}

.play-button {
  margin: 0 auto;
  width: 97px;
  cursor: pointer;
}

.company-div {
  margin: 0 auto;
  width: 200px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.company-select {
  font-size: 20px;
  border: 1px solid;
  background: rgb(245, 234, 234);
}